body, html {
    height: 100%;
    margin: 0;
    font-family: Arial, sans-serif;
}

.container-fluid {
    height: 100%;
}

.left-side {
    background-color: #2dbdf7;
    color: #fff;
    text-align: center;
}

.logo img {
    width: 400px;
}

.app-name {
    font-size: 2rem;
    margin-top: 10px;
}

.motto {
    font-size: 1.2rem;
    margin-top: 20px;
}

.right-side {
    background-color: #ffffff;
    color: #333;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.login-box {
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 30px;
    width: 100%;
    max-width: 900px;
    height: 100%;
    max-height: 400px;
}

.btn-primary {
    background-color: #2dbdf7;
    border: none;
}

.btn-primary:hover {
    background-color: #133c96;
}

h3{
    margin-right: 900px;
    font-size: medium;
}

.error{
    color: white;
    background: rgba(255, 0, 0, 0.678);    
    display: none;   
   }